.books-wrapper {
  list-style: none;

  .book {
    padding-bottom: 0.8rem;
    border-bottom: 2px solid black;
  }
}

.form {
  fieldset {
    border: none;

    input {
      display: block;
      margin-bottom: 0.5rem;
    }
  }
}
