@use '../utilities' as *;

.books-wrapper {
  list-style: none;
  border: 5px solid black;
  padding: 2px 5px 2px 5px;

  .book {
    @include d-flex(row);
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
  }
}

.form {
  fieldset {
    border: none;

    input {
      display: block;
      margin-bottom: 0.5rem;
    }
  }
}
