@use '../utilities' as *;

h1 {
  font-weight: bolder;
}

.date-container {
  margin-left: auto;
  width: 190px;
  font-weight: bold;
  font-style: italic;
}

.books-wrapper {
  list-style: none;
  border: 5px solid black;

  .book {
    @include d-flex(row);

    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    padding: 2px 10px 2px 10px;

    p {
      margin-bottom: 0;
      font-weight: bold;
      line-height: 40px;
      font-size: 17px;
    }
  }
}

.form-title {
  font-weight: bolder;
  line-height: 80px;
  font-size: 36px;
}

.form {
  fieldset {
    border: none;
    width: 40%;
    margin: 0 auto;

    input {
      display: block;
      margin-top: 2rem;
      margin-bottom: 0.5rem;
      border: 3px solid black;
      font-weight: bold !important;
      color: black !important;
    }

    .addBtn {
      margin-left: auto;
      -webkit-box-shadow: 4px 3px 0 -1px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 4px 3px 0 -1px rgba(0, 0, 0, 0.75);
      box-shadow: 4px 3px 0 -1px rgba(0, 0, 0, 0.75);
    }
  }
}

.contact {
  h2 {
    margin-bottom: 2rem;
  }
  div {
    @include d-flex(column);
    align-items: center;
    
    .description {
      font-weight: bold;
      font-size: 16px;
      margin-bottom: 3rem;
    }
    .contact-item {
      font-weight: bold;
      font-size: 16px;
      p {
        margin-bottom: 0;
      }
    }
  }
}
