// @use '../utilities' as *;

ul {
  padding-left: 0;
}

body {
  // background-color: $primary-light-gray;
  margin: 0;
  padding: 1rem;
}

.divider {
  width: 30%;
  height: 5px;
  background-color: black;
  margin: auto;
  margin-top: 5rem;
}

.gray-bg {
  background-color: rgba(0, 0, 0, 0.096);
}

.white-bg {
  background-color: transparent;
}